// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Apple M3 MacBook Pro and iMac (M3, 2023) I2C based USB PD controller nodes
 *
 * This file contains nodes for t8122 devices using I2C based cd321x USB Type-C
 * port controllers. The are used in the M3 MacBook Pro and iMacs but not in the
 * M3 Macbook Airs.
 *
 * target-type: J433, J434, J504
 *
 * Copyright The Asahi Linux Contributors
 */

&i2c0 {
	status = "okay";

	hpm0: usb-pd@38 {
		compatible = "apple,cd321x";
		reg = <0x38>;
		interrupt-parent = <&pinctrl_ap>;
		interrupts = <11 IRQ_TYPE_LEVEL_LOW>;
		interrupt-names = "irq";

		typec0: connector {
			compatible = "usb-c-connector";
			power-role = "dual";
			data-role = "dual";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					typec0_connector_hs: endpoint {
						remote-endpoint = <&dwc3_0_hs>;
					};
				};
				port@1 {
					reg = <1>;
					typec0_connector_ss: endpoint {
						remote-endpoint = <&atcphy0_typec_lanes>;
					};
				};
			};
		};
	};

	hpm1: usb-pd@3f {
		compatible = "apple,cd321x";
		reg = <0x3f>;
		interrupt-parent = <&pinctrl_ap>;
		interrupts = <11 IRQ_TYPE_LEVEL_LOW>;
		interrupt-names = "irq";

		typec1: connector {
			compatible = "usb-c-connector";
			power-role = "dual";
			data-role = "dual";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					typec1_connector_hs: endpoint {
						remote-endpoint = <&dwc3_1_hs>;
					};
				};
				port@1 {
					reg = <1>;
					typec1_connector_ss: endpoint {
						remote-endpoint = <&atcphy1_typec_lanes>;
					};
				};
			};
		};
	};
};
