// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Apple M3 MacBook Air (M3, 2024) SPMI based USB PD controller nodes
 *
 * This file contains nodes for t8122 devices using SPMI based ACE3 USB Type-C
 * port controllers. The are used in the M3 MacBook Airs.
 *
 * target-type: J613, J615
 *
 * Copyright The Asahi Linux Contributors
 */


&nub_spmi_a0 {
	status = "okay";

	hpm0: usb-pd@c {
		compatible = "apple,sn201202x";
		reg = <0xc SPMI_USID>;
		interrupts = <11 IRQ_TYPE_EDGE_RISING>,
			<13 IRQ_TYPE_EDGE_RISING>,
			<17 IRQ_TYPE_EDGE_RISING>,
			<19 IRQ_TYPE_EDGE_RISING>;
		interrupt-names = "irq", "select", "sleep", "wake";

		typec0: connector {
			compatible = "usb-c-connector";
			label = "USB-C Left-back";
			power-role = "dual";
			data-role = "dual";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					typec0_connector_hs: endpoint {
						remote-endpoint = <&dwc3_0_hs>;
					};
				};
				port@1 {
					reg = <1>;
					typec0_connector_ss: endpoint {
						remote-endpoint = <&atcphy0_typec_lanes>;
					};
				};
			};
		};
	};

	hpm1: usb-pd@a {
		compatible = "apple,sn201202x";
		reg = <0xa SPMI_USID>;
		interrupts = <37 IRQ_TYPE_EDGE_RISING>,
			<39 IRQ_TYPE_EDGE_RISING>,
			<43 IRQ_TYPE_EDGE_RISING>,
			<45 IRQ_TYPE_EDGE_RISING>;
		interrupt-names = "irq", "select", "sleep", "wake";

		typec1: connector {
			compatible = "usb-c-connector";
			label = "USB-C Left-front";
			power-role = "dual";
			data-role = "dual";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					typec1_connector_hs: endpoint {
						remote-endpoint = <&dwc3_1_hs>;
					};
				};
				port@1 {
					reg = <1>;
					typec1_connector_ss: endpoint {
						remote-endpoint = <&atcphy1_typec_lanes>;
					};
				};
			};
		};
	};

	hpm5: usb-pd@8 {
		compatible = "apple,sn201202x";
		reg = <0x8 SPMI_USID>;
		interrupts = <63 IRQ_TYPE_EDGE_RISING>,
			<65 IRQ_TYPE_EDGE_RISING>,
			<69 IRQ_TYPE_EDGE_RISING>,
			<71 IRQ_TYPE_EDGE_RISING>;
		interrupt-names = "irq", "select", "sleep", "wake";
	};
};
